<?xml version="1.0"?>

<config>
    <modules>
        <Wyomind_Botdefender>
            <version>2.0.1</version>
        </Wyomind_Botdefender>
    </modules>
    <default>
        <botdefender> 
            <settings>
                <enabled>1</enabled> 
                <debug>0</debug>
                <cachelifetime>24</cachelifetime>
            </settings>
        </botdefender>
      
    </default>
    <frontend>
        <layout>
            <updates>
                <botdefender>
                    <file>botdefender.xml</file>
                </botdefender>
            </updates>
        </layout>
       
        <events>
           
            <controller_front_send_response_after>
                <observers>
                    <wyomind_botdefender_send_response_after>
                        <type>helper</type>
                        <class>Wyomind_Botdefender_Helper_Data</class>
                        <method>processData</method>
                    </wyomind_botdefender_send_response_after>
                </observers>
            </controller_front_send_response_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <botdefender>
                    <file>botdefender.xml</file>
                </botdefender>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <botdefender> 
                                            <title>Bot Defender</title>
                                        </botdefender>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>  
        <events>
           
            <admin_system_config_changed_section_botdefender>
                <observers>
                    <wyomind_botdefender_save_config>
                        <type>model</type>
                        <class>Wyomind_Botdefender_Model_Observer</class>
                        <method>updateAlert</method>
                    </wyomind_botdefender_save_config>
                </observers>
            </admin_system_config_changed_section_botdefender>
        </events>
    </adminhtml>
    <global>
        <cache>
            <types>
                <botdefender module="botdefender" translate="BotDefender">
                    <label>BotDefender</label>
                    <description>BotDefender JS code snippets.</description>
                    <tags>botdefender</tags>
                </botdefender>
            </types>
        </cache>
        <events>
            <admin_user_authenticate_after>
                <observers>
                    <wyomind_botdefender_observer>
                        <type>singleton</type>
                        <class>Wyomind_Botdefender_Model_Observer</class>
                        <method>observe</method>
                    </wyomind_botdefender_observer>
                </observers>
            </admin_user_authenticate_after>
        </events>
        <blocks>
            <botdefender>
                <class>Wyomind_Botdefender_Block</class>
            </botdefender>
        </blocks>
        <resources>
            <botdefender_setup>
                <setup>
                    <module>Wyomind_Botdefender</module>
                    <class>Wyomind_Botdefender_Model_Resource_Setup</class>
                </setup>
                 
            </botdefender_setup>
        </resources>
        <helpers>
            <botdefender>
                <class>Wyomind_Botdefender_Helper</class>
            </botdefender>
        </helpers>
    </global>
</config>